@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* 텍스트 사이즈 변수 설정 */
  --text-*: initial;

  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.375rem; /* 22px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 1.75rem; /* 28px */
  --text-5xl: 2rem; /* 32px */
  --text-6xl: 2.25rem; /* 36px */
  --text-7xl: 2.5rem; /* 40px */

  /* breakpoint 설정*/
  /* sm: ~ 767px / md: 768px ~ 1270px / lg: 1280px ~ */
  --breakpoint-md: 48rem; /* 768px ~ 1279px */
  --breakpoint-lg: 80rem; /* 1280px ~ */

  /* 색상 변수 설정 */
  --color-brown: #4c353f;
  --color-dark-red: #b60108;
  --color-light-gray: #bbbbbb;
}

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2');
}

/* Jaro 폰트 (영문) */
@font-face {
  font-family: 'Jaro';
  font-weight: 400;
  font-display: swap;
  src:
    local('Jaro Regular'),
    url('/fonts/Jaro-Regular.woff') format('woff');
}

body {
  /* 기본 폰트 선언 */
  font-family: 'Pretendard', sans-serif;

  word-break: keep-all;
}

/* Jaro 폰트 (영문) */
.jaro {
  font-family: 'Jaro', sans-serif;
}
